<app-background></app-background>
<div (mousemove)="mouseMove($event)">
    <div class="name-bar foreground">
        <h4 matTooltip="The Game" matTooltipPosition="above" class="team-name no-text-selection">Équipe 202</h4>
        <p class="no-text-selection">Cédric Duquette</p>
        <p matTooltip="Cringe" matTooltipPosition="above" class="no-text-selection">Mahdi Ourahmoune</p>
        <p class="no-text-selection">Mathieu Corbishley</p>
        <p class="no-text-selection">
            <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" style="text-decoration: none">Michael Roussel</a>
        </p>
        <p class="no-text-selection">Simon-Alexandre Chayer</p>
    </div>
    <div class="justified">
        <div class="buttons justified foreground">
            <button mat-raised-button color="primary" routerLink="/select">Classique</button>
            <button mat-raised-button color="primary" (click)="selectLimitedGame()">Temps Limité</button>
            <button mat-raised-button color="primary" routerLink="/admin">Administration</button>
        </div>
    </div>

    <mat-slide-toggle [(ngModel)]="darkModeService.darkModeEnabled" class="dark-mode-toggle foreground"> Dark mode </mat-slide-toggle>

    <th-canvas class="background-element">
        <th-scene>
            <th-mesh #TitleMesh class="background-element">
                <th-object3D loadGLTF url="assets/game_title.glb"> </th-object3D>
            </th-mesh>
            <th-directionalLight [intensity]="4" [color]="['#378cb0']" [position]="[-10, 10, 16]"></th-directionalLight>
            <th-directionalLight [intensity]="3" [color]="['#378cb0']" [position]="[10, 100, 0]"></th-directionalLight>
            <th-directionalLight [intensity]="2" [color]="['#29b4f0']" [position]="[0, 0, 32]"></th-directionalLight>
            <th-perspectiveCamera [args]="[35, 1, 1, 1000]" [position]="[0, -0.5, 8]"> </th-perspectiveCamera>
        </th-scene>
    </th-canvas>
</div>
