.container {
    display: grid;
    border: solid rgb(60, 177, 226) 0.1em;
    background-color: rgba(144, 222, 255, 0.4);
    padding: 16px;
    position: absolute;
    bottom: 55%;
    left: 50%;
    top: -40%;
    translate: -50% 50%;
    width: 80%;
}

.player-container-header {
    position: relative;
    color: white;
    text-align: center;
    height: fit-content;
    margin-bottom: 8px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.go-back-button {
    position: absolute;
    top: 95%;
    left: 50%;
    translate: -50% -50%;
}
