.close-button {
    justify-content: flex-end;
    translate: 0px -16px;
    height: 0px;
}

.pop-up-image {
    margin: auto;
    display: block;
    margin: 32px;
}

.image-text {
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    translate: 0px -16px;
}

canvas {
    background-color: white;
}
